::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background-card);
}
::-webkit-scrollbar:hover {
  width: 10px;
  background-color: var(--background-card);
}
::-webkit-scrollbar-thumb {
  background: #727272;
}
::-webkit-scrollbar-thumb:active {
  background: #464545;
}

.logo {
  margin: 0 auto;
  text-align: center;
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #3aaff7);
}

.div-logo{
  display: flex;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
}
.div-logo p{
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----------------- shitch - theme ----------------- */
.container-switch {
  display: flex;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.switch {
  cursor: pointer;
  position: relative;
  border-radius: 25rem;
  display: block;
  width: 50px;
  height: 28px;
  margin: 15px;
  flex-shrink: 0;
  border: 1px solid var(--switch-border-color);
  background: var(--switch-bg-color);
  transition: border-color .25s;
}

.switch:hover {
  border: 1px solid var(--hover);
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}
.sun {
  width: 20px;
  height: 20px;
  left: 3px;
  top: 3px;
  position: absolute;
  transition: .4s;
}.sun-color{
  fill: transparent;
  stroke: var(--switch-icon-color);
}.sun-color2 {
  fill: var(--switch-icon-color);
  stroke: transparent
}

.moon {
  width: 20px;
  height: 20px;
  left: 9px;
  top: 3px;
  position: absolute;
  transition: .4s;
  transform: translateX(1em);
  opacity: 0;
}.moon-color {
  fill: transparent;
  stroke: var(--switch-icon-color);
}

.slider:before {
  content:'';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 25rem;
  background:var(--switch-btn-bg) ;
  box-shadow: 0px 5px 10px #00000019;
  transition: .3s;
}

.checkbox:checked+.slider:before {
  transform: translateX(1.4em);
}
.checkbox:checked+.slider .sun {
  animation: slideAndFade .3s ease-in-out forwards;
}
.checkbox:checked+.slider .moon {
  opacity: 1;
}
@keyframes slideAndFade {
  0% {
    transform: translateX(1rem);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* ----------------- menu ----------------- */
.menu {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
}
.hr {
  height: 28px;
  margin-top: 15px;
  border: none;
  background-color: #929292;
}
.menu ul {
  width: 70%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .menu {
    margin: 1rem;
  }

  .menu ul {
    width: 90%;
  }
}

li {
  float: left;
}

li.end {
  float: right
}
li.start{
  float: left;
  position: fixed;
  left: 5rem;
  height: 50px;
}
li a {
  display: block;
  color: var(--text-primary);
  text-align: center;
  text-decoration: none;
}
li a.btn{
  padding: 15px 15px;
}
li a .fill-icon {
  margin:20px 5px;
}

li a .stroke-icon {
  margin: 20px 5px;
}
li a:hover {
  color: var(--hover-button);
}
.menu ul a {
  text-decoration: none;
}
.fill-icon{
  width: 20px;
  height: 20px;
  fill: #9999a0;
}.fill-icon:hover{
  fill:var(--hover-icon);
}
.stroke-icon {
  width: 20px;
  height: 20px;
  stroke: #9999a0;
}.stroke-icon:hover{
  stroke: var(--hover-icon);
}
/* ----------------- avatar ----------------- */
.img-avatar{
  flex-grow: 1;
  margin: 0;
  position: absolute;
  margin-top: -10%;
  margin-left: 20%;  
  border-radius: 15rem;
}
.avatar {
  width: 8rem;
  border-radius: 15rem;
}
/* ----------------- avatar ----------------- */
.img-avatar {
  flex-grow: 1;
  margin: 0;
  position: absolute;
  margin-left: 28rem;
  margin-top: -25rem;
  border-radius: 15rem;
}

.avatar {
  width: 7rem;
  height: auto;
} 
@media (max-width: 768px) {
  .img-avatar {
    margin-left: 18rem;
    margin-top: -25rem;
    position: absolute;
  }
    .avatar {
      width: 5rem;
      height: auto;
    }
}

/* ----------------- text ----------------- */
.gradient-text {
  background-image: linear-gradient(180deg, #49ebff, #e53aff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .mi {
    height: auto;
    padding: 1rem;
  }
}

.card {
  width: 35rem;
  padding: 2rem;
  background-color: var(--background-card);
  border: 1px solid var(--border-color);
  box-shadow: 10px 10px 10px var(--shadow1),
    -10px -10px 10px var(--shadow2);
  border-radius: 15px;
}
@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
.subtitle {
  color: var(--text-secondary);
}

/* --------------- TEST --------------- */

.card-hobbie {
  float: right;
  margin: 1rem;
  width: 35rem; 
  height: 35rem;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card-hobbie:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

/* --------------- Grid ------------- */
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin: 1rem;
  width: 35rem;
}
.box-present{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Estilos adicionales para hacerlo responsive */
@media (max-width: 480px) {
  .box {
    width: 100%;
    margin: 1rem;
  }
  .box-present {
    margin: 1rem;
  }
}
