::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background-card);
}
::-webkit-scrollbar:hover {
  width: 10px;
  background-color: var(--background-card);
}
::-webkit-scrollbar-thumb {
  background: #727272;
}
::-webkit-scrollbar-thumb:active {
  background: #464545;
}

.logo {
  margin: 0 auto;
  text-align: center;
  height: 25px;
  will-change: filter;
  transition: filter 300ms;
}

.div-logo{
  display: flex;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 2rem;
}
.div-logo p{
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----------------- shitch - theme ----------------- */
.container-switch {
  display: flex;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.switch {
  cursor: pointer;
  position: relative;
  border-radius: 25rem;
  display: block;
  width: 50px;
  height: 28px;
  margin: 15px;
  flex-shrink: 0;
  border: 1px solid var(--switch-border-color);
  background: var(--switch-bg-color);
  transition: border-color .25s;
}

.switch:hover {
  border: 1px solid var(--hover);
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}
.sun {
  width: 20px;
  height: 20px;
  left: 3px;
  top: 3px;
  position: absolute;
  transition: .4s;
}.sun-color{
  fill: transparent;
  stroke: var(--switch-icon-color);
}.sun-color2 {
  fill: var(--switch-icon-color);
  stroke: transparent
}

.moon {
  width: 20px;
  height: 20px;
  left: 9px;
  top: 3px;
  position: absolute;
  transition: .4s;
  transform: translateX(1em);
  opacity: 0;
}.moon-color {
  fill: transparent;
  stroke: var(--switch-icon-color);
}

.slider:before {
  content:'';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 25rem;
  background:var(--switch-btn-bg) ;
  box-shadow: 0px 5px 10px #00000019;
  transition: .3s;
}

.checkbox:checked+.slider:before {
  transform: translateX(1.4em);
}
.checkbox:checked+.slider .sun {
  animation: slideAndFade .3s ease-in-out forwards;
}
.checkbox:checked+.slider .moon {
  opacity: 1;
}
@keyframes slideAndFade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* ----------------- menu ----------------- */
.menu {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:transparent;
  z-index: 1;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-out;
}

.menu.with-border {
  border-bottom-color: var(--menu-border-bg);
  background-color: var(--background);
}
.hr {
  height: 28px;
  margin-top: 15px;
  border: none;
  background-color: #929292;
}
.menu ul {
  width: 70%;
  height: 4rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .menu ul {
    width: 90%;
  }
}

li {
  float: left;
}

li.end {
  float: right
}
li.start{
  float: left;
  left: 5rem;
}
li.icon-modal{
  opacity: 0;
  padding: 15px 15px;
}
li a {
  display: block;
  color: var(--text-primary);
  text-align: center;
  text-decoration: none;
}
li a.btn{
  padding: 15px 15px;
}
li a .fill-icon {
  margin:20px 5px;
}

li a .stroke-icon {
  margin: 20px 5px;
}
li a:hover {
  color: var(--hover-button);
}
.menu ul a {
  text-decoration: none;
}
.fill-icon{
  width: 20px;
  height: 20px;
  fill: #9999a0;
}.fill-icon:hover{
  fill:var(--hover-icon);
}
.stroke-icon {
  width: 20px;
  height: 20px;
  stroke: #9999a0;
}.stroke-icon:hover{
  stroke: var(--hover-icon);
}
@media(max-width: 1100px){
li.icon-modal{
  opacity: 1;
}
.menue-no-modal{
  opacity: 0;
}
}
/* ----------------- avatar ----------------- */
.img-avatar {
  flex-grow: 1;
  margin: 0;
  position: absolute;
  margin-left: 28rem;
  margin-top: -25rem;
  border-radius: 15rem;
}

.avatar {
  width: 7rem;
  height: auto;
  border-radius: 20rem;
} 
@media (max-width: 768px) {
  .img-avatar {
    margin-left: 18rem;
    margin-top: -30rem;
    position: absolute;
  }
    .avatar {
      width: 5rem;
      height: auto;
    }
}

/* ----------------- text ----------------- */
.gradient-text {
  background-image: linear-gradient(175deg, #49ebff, #e53aff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-bottom: 4rem;
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .mi {
    height: auto;
    padding: 1rem;
  }
}

.card {
  width: 35rem;
  padding: 2rem;
  background-color: var(--background-card);
  border: 1px solid var(--border-color);
  box-shadow: 10px 10px 10px var(--shadow1),
    -10px -10px 10px var(--shadow2);
  border-radius: 15px;
}
@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
.subtitle {
  color: var(--text-secondary);
}

/* --------------- TEST --------------- */

.code-snippet {
  height: 4rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  background-color: #161618;
  color: var(--text-secondary);
  padding: 8px;
  font-family: monospace;
  resize: vertical;
  text-decoration: none;
  position: relative;
}

.code-text {
  padding: 14px 14px;
}

.copy-success {
  position: absolute;
  right: 5px;
  height: 3rem;
  border-radius: 4px;
  border: 1px solid #252529;
  background: #1e1e20;
  color: #666;
  padding: 1rem;
  margin-right: 60px;
  margin-top: -30px;
}

.copy-button {
  float: right;
  height: 3rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #252529;
  background: #1e1e20;
  fill: #666;
  cursor: pointer;
  margin-top: -14px;
  transition: fill 0.2s;
}
.copy-button:active{
  fill: #f2f2f2;
}
.copy-button {
  opacity: 0;
}
@media (max-width: 480px) {
  .copy-success {
    margin-top: -7.6%;
  }
}
.code-snippet:hover .copy-button {
  opacity: 1;
}
.keywords-code{
  color: #bebe29;
}
/* --------------- Grid ------------- */
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin: 1rem;
  width: 35rem;
}
.box-present{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin: 1rem;
}
@media (max-width: 480px) {
  .box {
    width: 100%;
    margin: 1rem;
  }
  .box-present {
    margin: 1rem;
  }
}
/* ------------ ToggleMenu --------------- */
.hamburger {
  cursor: pointer;
}

#modal-toggle {
  opacity: 0;
}

.hamburger svg {
  height: 25px;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--switch-icon-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

#modal-toggle:checked+.hamburger svg {
  transform: rotate(-45deg);
}

#modal-toggle:checked+.hamburger svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* ---------- Modal -------------- */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  margin-top: 50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  color: var(--text-primary);
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
.nav-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 13px;
}

.nav-content a {
  text-decoration: none;
  color: var(--text-primary);
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}
.modal-content a {
  display: inline-block;
  margin-right: 10px;
}

.modal-redes svg {
  margin-right: 5px;
}