@import url('./theme/var.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    transition: all .5s ease-in-out;
}